**/target
**/.vscode
Cargo.lock
*.out
*.pyc
build/
xpuremoting/
tests/apps/infer/BERT-base-uncased/bert-base-uncased
tests/apps/infer/gpt2/gpt2
tests/apps/infer/STABLEDIFFUSION-v1-4/stable-diffusion-v1-4
tests/apps/infer/BERT-base-uncased/bert-base-uncased
tests/apps/checkpoint
tests/apps/dataset

tests/apps/train/stablediffusion/tmp

*.tgz
core-*
*.log
data

*.sqlite
*.nsys-rep

/config.toml
